@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto&display=swap');

$fontPpal:'Roboto', sans-serif;
$fontTitulo:'Just Another Hand', cursive;

//TEXTOS

$text1:4em;
$text2:3em;
$text3:2em;
$text4:1em;